html {
    font-family: Arial, Helvetica, sans-serif;
}
html, body {
    background-color: white;
    margin: 0;
    padding: 0;
}

@viewport {
    width: device-width ;
    zoom: 1.0 ;
  }

/* code that is here, until the first @media block, will apply to any screen size */
#somethingorother {
    width: 800px ;
  }
  
  @media screen and (max-width: 568px) {
    /* comes into effect for screens less than or equal to 320 pixels */
    #somethingorother {
      width: 120px ;
    }
  }
  @media screen and (min-width: 320px) and (max-width: 568px) {
    /* comes into effect for screens between 321 and 480 pixels (inclusive) */
    #somethingorother {
      width: 320px ;
    }
  }
  @media screen and (min-width: 320px) {
    /* comes into effect for screens larger than or equal to 481 pixels */
    #somethingorother {
      width: 320px ;
    }
  }
  
  /* code that is here will apply to any screen size */

h1 {
    font-size: 56px;
}

.nav {
    background-color: black;
    display: block;
    height: 60px;
    line-height: 60px;
}


.nav a {
    text-decoration: none;
    color: white;
}

.nav .nav_btn {
    float: left;
    font-size: 30px;
    margin-left: 1em;
}

.active {
    background-color: white;
    color: white;
  }
  
.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: black;
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.inc {
    background-color: black;
    display: block;
    height: 60px;
    line-height: 60px;
}


.inc a {
    text-decoration: none;
    color: white;
}

.inc .inc_btn {
    float: left;
    font-size: 30px;
    margin-left: 1em;
}

.fa {
    padding: 0.55em 0.65em;
    font-size: 14px;
    font-weight: 100;
    line-height: 14px;
    float: right;
    border: solid white 1px;
    border-radius: 100px;
    margin-right: 2em;
    margin-bottom: 3px;
    margin-top: 12px;
  }
  
  .fa:hover {
    color: black;
    border: solid black 1px;
    background-color: white;
  }
  
  .fa-facebook {
    padding: 0.65em 0.65em;
    background: black;
    color: white;
  }
  
  .fa-twitter {
    background: black;
    color: white;
  }
  
  
  .fa-linkedin {
    background: black;
    color: white;
  }
  
  .fa-instagram {
    background: black;
    color: white;
  }

.nav p {
    padding: 0.75em 2.5em;
    font-size: 14px;
    font-weight: 100;
    line-height: 14px;
    float: right;
    border: solid white 1px;
    border-radius: 100px;
    margin-right: 2em;
    margin-bottom: 3px;
    margin-top: 12px;
}

.nav p:hover {
    color: black;
    border: solid black 1px;
    background-color: white;
}

.banner {
    background: black;
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    text-align: center;
}

.banner h1 {
    padding: 2.25em 0 0 0;
    margin: 0;
    clear: both;
}

.banner a {
    background-color: black;
}

.tagline {
    font-weight: 100;
    margin: 0.5em 0 1.5em 0;
    padding: 0;
}

.banner_btn {
    color: white;
    text-decoration: none;
}

.banner a p {
    background-color: black;
    width: 180px;
    padding: 0.75em 0;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px;
    -webkit-box-shadow: 0px 2px 5px 1px rgba(0,0,0, 0.27);
    -moz-box-shadow: 0px 2px 5px 1px rgba(0,0,0, 0.27);
    box-shadow: 0px 2px 5px 1px rgba(0,0,0, 0.27);
}

.banner a p:hover {
    color: black;
    background-color: white;
}

.banner_btn:hover {
    color: white;
}